In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data=pd.read_csv('C:\\Users\\91760\\Downloads\\kidney_disease.csv')

In [3]:
data.head(5)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [4]:
data.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [5]:
data[['htn','dm','cad','pe','ane']]=data[['htn','dm','cad','pe','ane']].replace(to_replace={'yes':1,'no':0})

In [6]:
data[['rbc','pc']]=data[['rbc','pc']].replace(to_replace={'abnormal':1,'normal':0})

In [7]:
data[['pcc','ba']]=data[['pcc','ba']].replace(to_replace={'present':1,'notpresent':0})

In [8]:
data[['appet']] = data[['appet']].replace(to_replace={'good':1,'poor':0,'no':np.nan})

In [9]:
data['classification'] = data['classification'].replace(to_replace={'ckd':1.0,'ckd\t':1.0,'notckd':0.0,'no':0.0})

In [10]:
data.rename(columns={'classification':'target'},inplace=True)

In [11]:
data['pe'] = data['pe'].replace(to_replace='good',value=0)

In [12]:
data['appet'] = data['appet'].replace(to_replace='no',value=0)

In [13]:
data['cad'] = data['cad'].replace(to_replace='\tno',value=0)

In [14]:
data['dm'] = data['dm'].replace(to_replace={'\tno':0,'\tyes':1,' yes':1, '':np.nan})

In [15]:
data.drop('id',axis=1,inplace=True)

In [16]:
data.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,target
0,48.0,80.0,1.020,1.0,0.0,NaN,0.0,0.0,0.0,121.0,...,44,7800,5.2,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7.0,50.0,1.020,4.0,0.0,NaN,0.0,0.0,0.0,NaN,...,38,6000,NaN,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,423.0,...,31,7500,NaN,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32,6700,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,106.0,...,35,7300,4.6,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [17]:
data=data.dropna(axis=0)

In [18]:
cols=['bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc']

In [19]:
X = data[cols]

In [20]:
Y=data['target']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.33, random_state=44)

In [22]:
X_train.shape

(105, 7)

In [23]:
y_train.shape

(105,)

In [24]:
X_test.shape

(53, 7)

In [25]:
y_test.shape

(53,)

In [26]:
from sklearn import ensemble

In [27]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [28]:
import joblib

In [29]:
model=ensemble.RandomForestClassifier()

In [30]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [31]:
y_pred=model.predict(X_test)

In [32]:
print(accuracy_score(y_test,y_pred))

0.9811320754716981

In [34]:
clf_report = classification_report(y_test, y_pred)
print('Classification report')

print(clf_report)

Classification report
              precision    recall  f1-score   support

         0.0       0.98      1.00      0.99        42
         1.0       1.00      0.91      0.95        11

    accuracy                           0.98        53
   macro avg       0.99      0.95      0.97        53
weighted avg       0.98      0.98      0.98        53

In [36]:
joblib.dump(model,'C:\\Users\\91760\\Downloads\\kidney_model.pkl')

['C:\\Users\\91760\\Downloads\\kidney_model.pkl']